<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ihypnus.ihypnuscare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera"/>
    <!-- 自动聚焦权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- 接收和读取短信的权限: -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- 百度地图 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 用于优化GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--获取/改变wifi状态 android M要配合ACCESS_FINE_LOCATION使用-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".IhyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 配置腾讯Bugly APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="ed6aa3c12c"/>

        <activity android:name=".activity.SplashActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--相机扫描二维码-->
        <activity
            android:name="com.ihypnus.zxing.android.CaptureActivity"
            android:screenOrientation="portrait"/>

        <!--登入界面-->
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--注册界面-->
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!--新增设备-->
        <activity
            android:name=".activity.AddNwedeviceActivity"
            android:screenOrientation="portrait"/>

        <!--新增设备 提示信息-->
        <activity
            android:name=".activity.NewDeviceInformationActivity"
            android:screenOrientation="portrait"/>

        <!--wifi设置提示页面-->
        <activity
            android:name=".activity.WifiSettingTipActivity"
            android:screenOrientation="portrait"/>

        <!--主界面-->
        <activity
            android:name="com.ihypnus.ihypnuscare.activity.HomeActivity"
            android:screenOrientation="portrait"/>

        <!--wifi输入密码弹窗-->
        <activity
            android:name=".activity.WifiDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActivityDialogStyle"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--意见反馈-->
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <!--我的资料-->
        <activity
            android:name=".activity.MyInfosActivity"
            android:screenOrientation="portrait"/>

        <!--帮助中心-->
        <activity
            android:name=".activity.HelpCenterActivity"
            android:screenOrientation="portrait"/>
        <!--设置中心-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>

        <!--图片裁剪-->
        <activity
            android:name=".activity.ClipActivity"
            android:screenOrientation="portrait"/>

        <!--日期选择-->
        <activity
            android:name=".activity.SelectDateActivity"
            android:screenOrientation="portrait"/>

        <!--忘记密码-->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>


        <!--个人信息-->
        <activity
            android:name=".activity.PersonalInformationActivity"
            android:screenOrientation="portrait"/>


        <!--多语言设置-->
        <activity
            android:name=".activity.MultiLanguageActivity"
            android:screenOrientation="portrait"/>

        <!--关于-->
        <activity
            android:name=".activity.AboutCompanyInfosActivity"
            android:screenOrientation="portrait"/>

        <!--设备详情-->
        <activity
            android:name=".activity.DeviceDetailActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".activity.WifiSettingHistoryActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>